<html>
<head>
<title>mCatalog</title>
</head>
<body>
##ITEM##
<table border="0">
<tr valign="top">
        <td>
                <img src="##image##">
	</td>
	<td>
                <table cellspacing="0">
                <tr valign="top">
                        <td align="right"><font color="#999999" size="1"><b>Title</b></font></td>
                	<td><font size="2"><b>##title##</b></font></td>
		</tr>
                <tr valign="top">
                        <td align="right"><font color="#999999" size="1"><b>Author</b></font></td>
                	<td><font size="1"><b>##author##</b></font></td>
                </tr>
                <tr valign="top">
                        <td align="right"><font color="#999999" size="1"><b>Tracks</b></font></td>
                        <td><font size="1">&nbsp;##tracks##</font></td>
                </tr>
                <tr valign="top">
                        <td align="right"><font color="#999999" size="1"><b>Rating</b></font></td>
                        <td><font size="1">&nbsp;##rating##</font></td>
                </tr>
                <tr valign="top">
                        <td align="right"><font color="#999999" size="1"><b>Style</font></b></td>
                        <td><font size="1">&nbsp;##style##</font></td>
                </tr>
                <tr valign="top">
                        <td align="right"><font color="#999999" size="1"><b>Runtime</font></b></td>
                        <td><font size="1">&nbsp;##runtime##</font></td>
                </tr>
                <tr valign="top">
                        <td align="right"><font color="#999999" size="1"><b>Label</font></b></td>
                        <td><font size="1">&nbsp;##label##</font></td>
                </tr>
                <tr valign="top">
                        <td align="right"><b><font color="#999999" size="1">Date</font></b></td>
                        <td><font size="1">&nbsp;##date##</font></td>
                </tr>
                <tr valign="top">
                        <td align="right"><b><font color="#999999" size="1">ASIN</font></b></td>
                        <td><font size="1">&nbsp;##asin##</font></td>
                </tr>
                <tr valign="top">
                        <td align="right"><b><font color="#999999" size="1">Medium</font></b></td>
                        <td><font size="1">&nbsp;##medium##</font></td>
                </tr>
                </table>
	</td>
</tr>
</table>
<hr noshade>
##ITEM##
</body>
</html>
