<html>
<head>
<title>mCatalog</title>
</head>
<body>
##ITEM##
<table border="0">
<tr valign="top">
        <td>
                <img src="##image##">
	</td>
	<td>
                <table cellspacing="0">
                <tr valign="top">
                        <td align="right"><font color="#999999" size="1"><b>Title</b></font></td>
                	<td><font size="2"><b>##title##</b></font></td>
		</tr>
                <tr valign="top">
                        <td align="right"><font color="#999999" size="1"><b>Original title</b></font></td>
                        <td><font size="1">&nbsp;##original_title##</font></td>
                </tr>
                <tr valign="top">
                        <td align="right"><font color="#999999" size="1"><b>Author</b></font></td>
                	<td><font size="1"><b>##author##</b></font></td>
                </tr>
                <tr valign="top">
                        <td align="right"><font color="#999999" size="1"><b>Rating</b></font></td>
                        <td><font size="1">&nbsp;##rating##</font></td>
                </tr>
                <tr valign="top">
                        <td align="right"><font color="#999999" size="1"><b>Genre</font></b></td>
                        <td><font size="1">&nbsp;##genre##</font></td>
                </tr>
                <tr valign="top">
                        <td align="right"><font color="#999999" size="1"><b>Pages</font></b></td>
                        <td><font size="1">&nbsp;##pages##</font></td>
                </tr>
                <tr valign="top">
                        <td align="right"><font color="#999999" size="1"><b>Publisher</font></b></td>
                        <td><font size="1">&nbsp;##publisher##</font></td>
                </tr>
                <tr valign="top">
                        <td align="right"><b><font color="#999999" size="1">Country</font></b></td>
                        <td><font size="1">&nbsp;##country##</font></td>
                </tr>
                <tr valign="top">
                        <td align="right"><b><font color="#999999" size="1">Language</font></b></td>
                        <td><font size="1">&nbsp;##language##</font></td>
                </tr>
                <tr valign="top">
                        <td align="right"><b><font color="#999999" size="1">Date</font></b></td>
                        <td><font size="1">&nbsp;##date##</font></td>
                </tr>
                <tr valign="top">
                        <td align="right"><b><font color="#999999" size="1">ISBN</font></b></td>
                        <td><font size="1">&nbsp;##isbn##</font></td>
                </tr>
                </table>
	</td>
</tr>
</table>
<hr noshade>
##ITEM##
</body>
</html>
